replicaCount: 1

image:
  repository: mongo
  tag: latest        # préférez une version connue plutôt que latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 27017

ingress:
  enabled: false
